<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527576655478-hmnhms3hbh30jma2g7l2gu196m3qg9lq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527576655478-hmnhms3hbh30jma2g7l2gu196m3qg9lq</string>
	<key>API_KEY</key>
	<string>AIzaSyCs5TEfeOjBzUZ-FfCywZ3DjZq900C48lU</string>
	<key>GCM_SENDER_ID</key>
	<string>527576655478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeynep.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-2bd73</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-2bd73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527576655478:ios:ba1b8b24bcfaa14ce6a157</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-2bd73.firebaseio.com</string>
</dict>
</plist>